[submodule "fastdb"]
	path = fastdb
	url = https://github.com/kinbei/fastdb.git
[submodule "lua"]
	path = lua
	url = https://github.com/ejoy/lua.git
[submodule "mysql-connector-c"]
	path = mysql-connector-c
	url = https://github.com/kinbei/mysql-connector-c.git
